<!-- sitenav begin-->

<div id="sitenav">
	
	<nav class="top-bar" data-topbar="">
		<ul class="title-area">
    	<li class="name"> <h1> <a href="../">{{ site.name }}</a> </h1></li>
    	<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

  <section class="top-bar-section">
  	
  	<!--left sitenav section-->
  	<ul class="left">
  		<li><a href="http://senate.gov"><img src="./img/sa.png"></a></li>
  		<li><a href="http://ca.gov"><img src="./img/ca.png"></a></li>
  	</ul>
    <!-- right navsite section -->
    <ul class="right">
      <li class="has-dropdown"> <a href="#">Contact</a>
      	<ul class="dropdown">
      		<li> <a href="#">Write</a> </li>
      		<li> <a href="#">Call</a> </li>
      		<li> <a href="#">Offices</a> </li>
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">Services</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Help with a Federal Agency</a> </li>
      		<li> <a href="#">Visiting Washington DC</a> </li>
      		<li> <a href="#">Schedule a Meeting</a> </li>
      		<li> <a href="#">Letter Requests</a> </li>  
      		<li> <a href="#">for Students</a> </li>
      		<li> <a href="#">Resources</a> </li>       			
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">Press</a>
      	<ul class="dropdown"> 
      		<li> <a href="../release.html">Releases</a> </li>
      		<li> <a href="#">News</a></li>
      		<li> <a href="#">Briefs</a> </li>
      		<li> <a href="#">Video</a> </li>
      		<li> <a href="#">Photos</a> </li>      			
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">Issues</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Summaries</a> </li>
      		<li> <a href="#">Priorities</a> </li>
      		<li> <a href="#">Legislation</a> </li>
      		<li> <a href="#">Reports</a> </li>      			
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">About</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Biography</a> </li>
      		<li> <a href="#">Committees</a> </li>
      		<li> <a href="#">Voting Record</a> </li>
      		<li> <a href="#">Caucuses</a> </li>      			
      	</ul>
      </li>

            <li class="has-button">
              <a class="button" href="#">Q</a>
            </li>
            

     </ul>
    
  </section>
	
</nav>
</div>
<!--sitenav end-->