@import "settings";
@import "foundation";
@import "bourbon";

body {
  height: 100%;
  $experimental-support-for-svg: true;
  @include background(linear-gradient(white, #FDF4D5));
  //background-image: url("/img/stripe.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
}

#stripe {
  //@include grid-row();
  background-image: url("/img/stripe.png");
  width: 100% !important;
  height: 360px;
  
}

#page {
  @include grid-row();
  box-shadow: 1px 3px 25px black;
  border-radius: 6px;
  padding-top: 50px;
  background-color: #ffffff;
}

#sitenav {
  @extend .fixed;
  .top-bar {box-shadow: 0px 1px 15px black; background: #99B2B7}
  .top-bar-section li a:not(.button) {background: #99B2B7; font-size: 1em}
  .top-bar-section li a:not(.button):hover {background: #809499}
  .top-bar-section ul {background: #99B2B7}
  .top-bar-section ul.left li a{padding: 0 5px}
  
  .top-bar .name {text-shadow: 0px 1px 15px #222222}
  .top-bar li.search{margin-top: 5px}
  //.top-bar-section ul li a{padding: 0 5px}
  .top-bar-section ul li a{
        &.button {
          margin-top: 5px;
          &:hover {
            background: lighten($primary-color, 33%)}}}
}

#featured {
    @include grid-column ($columns: 9);
    @extend .slideshow-wrapper;
    h4 { color: #ffffff; }
    p {color: #ffffff;}
  
  .orbit-bullets {
    display: table;
    text-align: center;
    li {width: emCalc(12); height: emCalc(12); margin: 0 emCalc(45)}
    }
    
  .orbit-prev, .orbit-next {top:25%}
}

