@import "settings";
@import "foundation";
@import "bourbon";

body {
}

#canvas {
  @include grid-row();
  max-width: 100%;
  @include background-image(url("/img/stripe.png"), linear-gradient(white, #FDF4D5));
  background-repeat: no-repeat;
  background-position: center bottom;
}

#page {
  @include grid-row($behavior:nested);
  box-shadow: 1px 3px 25px black;
  border-radius: 6px;
  background-color: #ffffff;
  padding-top: 52px;
}

#sitenav {
   @extend .fixed;
  .top-bar {box-shadow: 0px 1px 15px black; background: #99B2B7}
  .top-bar-section li a:not(.button) {background: #99B2B7; font-size: 1em}
  .top-bar-section li a:not(.button):hover {background: #809499}
  .top-bar-section ul {background: #99B2B7}
  ul.left li {padding: 8px 0px 0px 0px}
  
  .top-bar .name {text-shadow: 0px 1px 15px #222222}
  .top-bar li.search{margin-top: 5px}
  //.top-bar-section ul li a{padding: 0 5px}
  .top-bar-section ul li a{
        &.button {
          margin-top: 5px;
          &:hover {
            background: lighten($primary-color, 33%)}}}
}

#featured {
    @include grid-column ($columns: 9);
    @extend .slideshow-wrapper;
    h4 { color: #ffffff; }
    p {color: #ffffff;}
  
  .orbit-bullets {
    display: table;
    text-align: center;
    li {width: emCalc(12); height: emCalc(12); margin: 0 emCalc(45)}
    }
    
  .orbit-prev, .orbit-next {top:25%}
}

.homebuckets {
  @include grid-row($behavior:nested);
  @include block-grid(3);
  
}

#crumbs {

  .breadcrumbs { @extend .hide-for-small;}
  }

#share {
  @extend .hide-for-small;
  text-align: left;
  }
  
#release { 
  h1 {font-size: 2em}
  h2 {font-size: 1.5em}
  }

article { 
  @include grid-column($columns:10, $center:true);
  .h1 {font-size: 2em};
  }
